/* General Styling */
*{
  user-select: none;
}

html, body{
  /* background-color: rgb(95,95,95); */
}



/* Index Page */
.bg-dark{
  opacity: 0.9;
}

.navbar-brand{
  font-family: 'Archivo Black', sans-serif;
  font-size: 2em;
}

.navbar-brand a:hover{
  text-decoration: none;
}

.homepage-image{
  position: relative;
}

.overlay{
  position: absolute;
  top: 50vh;
  left: 5vw;
  color: #fff;
}

.home-caption{
  background-color: rgba(0,0,0,0.15);
}

.register-btn{
  font-size: 1.2em;
}

footer{
  background-color: rgba(0,0,0,0.8);
  height: 12vh;
  color: white;
  text-align: center;
}

/* Register Page */
div.newaccount{
    background-image: url("../register.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}
.newaccount div.card{
  width: 40vw;
  background: rgba(204, 204, 204, 0.95);
  /* opacity: 0.95; */
  position: absolute;
  top: 20%;
}

/* Login Page */
div.loginaccount{
  background-image: url("../login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}
.loginaccount div.card{
  width: 40vw;
  /* background: rgba(204, 204, 204, 0.95); */
  opacity: 0.95;
  position: absolute;
  top: 20%;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}
