/* General Styling */
*{
  user-select: none;
}
body{
  /* background-color: #ffcf76; */
  background-image: url('home2.jpeg');
}



/* Index Page */
.bg-dark{
  opacity: 0.9;
}
.navbar-brand{
  font-family: 'Archivo Black', sans-serif;
  font-size: 2em;
}

.homepage-image{
  position: relative;
}

.overlay{
  position: absolute;
  top: 50vh;
  left: 5vw;
  color: #fff;
}

.home-caption{
  background-color: rgba(0,0,0,0.15);
}

.register-btn{
  font-size: 1.2em;
}




/* Media Queries */
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}
